.banner{

    background: url(../../assets/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 1px 12px 20px rgba(194, 91, 227, 0.45);
}


.homeContainer{

    display: grid;
    grid-gap: 60px;
    box-shadow: 1px 12px 20px rgba(191, 191, 191, 0.24);
}